
html, body {
    background: #222222;
    box-sizing: border-box;
    height: 100%;
    margin: 0px;
    padding: 50px;
    border: none;
}
html {
    box-shadow: 1em 1em 2em #000 inset;
}
#viewport {
    background: #111111;
    border: 8px solid #DDEEDD;
    border-radius: 35px;
    box-sizing: border-box;
    margin: auto;
    display: flex;
    min-height: 100%;
    min-width: fit-content;
    padding: 0.5em 1.5em;
    box-shadow: 1em 1em 2em #000;
}
#statement {
    color: #DDEEDD;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 24px;
    user-select: none;
    list-style: none;
    transition: opacity 0.5s ease;
    opacity: 1;
    margin: auto;
    margin-left: 0;
    white-space: nowrap;
}
#statement.outgoing {
    opacity: 0;
}


/* The end. */
