<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>coolnames</title>
  </head>
  <body>
    <div id="viewport">
      <noscript>
        <ul id="nojs-statement">
          {% for slug in data %}<li>{{ slug }}</li>{% endfor %}
        </ul>
      </noscript>
    </div>
    <script type="text/javascript" language="javascript" src="index.js">
    </script>
    <script type="text/javascript" language="javascript">
      init({{ width }}, {{ separator|tojson }}, {{ data|tojson }});
    </script>
  </body>
</html>
