<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="index.css" />
    <title>coolnames</title>
  </head>
  <body>
    <script type="text/javascript" language="javascript" src="index.js">
    </script>
    <div id="viewport">
      <div id="content">
        <div id="statement">
          <noscript>
            <ul class="sluglist">
              {% for slug in data %}<li>{{ slug }}</li>{% endfor %}
            </ul>
          </noscript>
        </div>
        <div id="buttons">
          <div class="reload">
            <form id="bounce"
                  {% if query %}
                  action=".?{{ query }}"
                  {% else %}
                  action="."
                  {% endif %} >
            </form>
            <button type="submit" form="bounce"></button>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" language="javascript">
      init({{ width }}, {{ separator|tojson }}, {{ data|tojson }});
    </script>
  </body>
</html>
